@import "bourbon/bourbon"

@font-face
	font-family: 'als_rublregular'
	src: url('../fonts/rouble-webfont.woff2') format('woff2'),
	url('../fonts/rouble-webfont.woff') format('woff'),
	url('../fonts/rouble-webfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

// color_bg
$mainBg:#fe9902

// typography
$fontSize: 16px
$colorFont: #333333

// transition
$transition: all 0.3s linear

//fonts
$mainFont: 'PT Sans', sans-serif

$shadow: 0 -8px 15px 0 rgba(121,121,121,0.5)

/*-----------------------------------*/
/*              General              */
/*-----------------------------------*/
body
	font-family: $mainFont
	font-weight: normal
	font-size: $fontSize
	color: $colorFont
	min-width: 1200px
	position: relative
	line-height: 1.2em
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	background: #fff url(../img/body_bg.png) 0 0 repeat

.wrapper-shadow
	box-shadow: $shadow
	width: 1200px
	margin: auto
	background-color: #fff

/*-----------------------------------*/
/*            Typography             */
/*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6
  line-height: 1.2em
  word-wrap: break-word
  font-family: $mainFont
  font-weight: bold

h1
	font-size: 44px
h2
	font-size: 44px
h3
	font-size: 34px
h4
	font-size: 24px
h5
	font-size: 16px
h6
	font-size: 14px

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a
	color: $mainBg

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover
	color: $mainBg

a, a:hover
	text-decoration: none
	color: $mainBg

.img
	width: 100%
	height: auto
	object-fit: cover

.btn
	text-align: center
	display: inline-block
	transition: $transition
	font-weight: bold
	margin: auto
	color: #fff

.btn-light
	border: 4px solid #fff
	padding: 15px 50px
	font-size: 20px
	&:hover,
	&:active,
	&:focus
		border: 4px solid transparent
		background-color: #fff
		outline: none
		text-decoration: none

.btn-color
	font-size: 15px
	padding: 7px 30px
	background-color: $mainBg
	border-radius: 5px
	&:hover,
	&:active,
	&:focus
		background-color: #ff7200
		color: #fff
		outline: none
		text-decoration: none

.main-bg
	background-color: $mainBg
	color: #fff

/*-----------------------------------*/
/*       Модальное окно             */
/*-----------------------------------*/
.mfp-hide
	display: none!important
.white-popup-block
	background: #FFF
	padding: 20px 30px
	text-align: left
	max-width: 650px
	margin: 40px auto
	position: relative
#callme-form
	border-radius: 10px
	padding: 30px 40px
	max-width: 550px
	.callme-form--title
		font-weight: bold
		color: $mainBg
		font-size: 34px
		padding: 0 0 10px
		text-transform: uppercase
		text-align: center
	.callme-form--desc
		font-size: 17px
		padding: 0
		margin-bottom: 30px
		font-weight: bold
		text-align: left
	label
		display: block
		padding-bottom: 5px
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	textarea
		width: 100%
		outline: none
		border-radius: 4px
		border: 1px solid #d7d7d7
		padding: 10px 15px
		font-size: 16px
		margin-bottom: 20px
	input[type="submit"]
		border: none
		margin: auto
		display: block
		font-size: 18px
		text-transform: uppercase
		padding: 13px 50px
		letter-spacing: 1px
		margin-top: 15px

/*-----------------------------------*/
/*            Хедер                  */
/*-----------------------------------*/
header
	box-shadow: 0 5px 10px -5px rgba(121,121,121,0.5)
	position: relative
	padding: 9px 0 12px
	transition: all 0.4s ease
	background: #FFF
	z-index: 1000
	&.sticky
		padding: 10px 0
		z-index: 1000
		position: fixed
		width: 1200px
		.logo-column
			width: 8%
			.logo-full
				display: none
			.logo-sticky
				display: block
				height: 45px
				width: auto
		.social-column
			width: 10%
			ul
				margin-top: 0
				li
					margin: 10px 2px
		.menu-column
			width: 50%
			text-align: center
			ul
				margin: 15px 0
				li
					margin: 0 6px
					a
						color: $colorFont
		.phone-column
			width: 31.33%
			.phone-column--number
				display: inline-block
				margin-right: 20px
				a
					font-size: 16px
					vertical-align: middle

	.logo-column
		float: left
		width: 28%
		padding-left: 20px
		.logo-full
			height: 76px
			width: auto
			display: block
		.logo-sticky
			display: none
	.social-column
		width: 21%
		float: left
		text-align: center
		ul
			padding-left: 0
			list-style: none
			margin: 11px 0 0
			li
				display: inline-block
				vertical-align: middle
				margin: 15px 2px
				a
					font-size: 17px
					width: 30px
					height: 30px
					border-radius: 50%
					background-color: $mainBg
					color: #fff
					display: inline-block
					line-height: 30px
					text-align: center
					transition: $transition
					&.vk:hover,
					&.vk:active
						background-color: #4c75a3
					&.fb:hover,
					&.fb:active
						background-color: #25478e

	.menu-column
		width: 25%
		float: left
		ul
			padding-left: 0
			list-style: none
			margin: 5px 0 0
			li
				display: inline-block
				vertical-align: middle
				margin: 8px 6px
				border-bottom: 1px solid rgb(178, 178, 178)
				&:hover,
				&:active
					border-bottom: 1px solid #ff3f3f
				a
					font-size: 14px
					color: #000
					line-height: 1
					&:hover,
					&:active
						color: #ff3f3f
	.phone-column
		width: 25%
		float: left
		text-align: right
		padding-right: 30px
		.phone-column--number
			margin-bottom: 7px
			a
				font-size: 22px
				font-weight: bold
				color: $colorFont
				display: block


/*-----------------------------------*/
/*               Футер               */
/*-----------------------------------*/
footer
	padding-bottom: 20px
	.footer-column
		padding-left: 45px
		padding-right: 45px
		.divider
			width: 100%
			height: 5px
			background-color: $mainBg
		.phone-number
			font-weight: bold
			text-align: right


/*-----------------------------------*/
/*              Главная              */
/*-----------------------------------*/
section
	padding: 60px 30px
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
		text-align: center
		margin-top: 0
.about-block
	max-height: 535px
	overflow: hidden
	&:nth-of-type(even)
		.about-block--text
			float: right
	.about-block--text
		background-color: $mainBg
		padding: 53px 47px
		color: #fff
		min-height: 535px
		h1,
		h2,
		h3,
		h1>a,
		h2>a,
		h3>a
			font-size: 44px
			line-height: 1.2
			color: #fff
			margin-top: 0
			margin-bottom: 36px
		h1>a,
		h2>a,
		h3>a
			border-bottom: 1px solid #ffd69a
			padding-bottom: 1px
			&:hover,
			&:active
				border-bottom: none
		.btn
			margin-top: 20px
		.about-block--cat
			font-size: 24px
			margin-bottom: 5px
		.about-block--title
			font-size: 54px
			margin-left: -28px
			margin-bottom: 20px
		.about-block--list
			margin-top: 35px
			padding-left: 0
			list-style: none
			li
				display: inline-block
				vertical-align: top
				width: 32%
				text-align: center
				padding-top: 60px
				position: relative
				&:before
					display: block
					right: 0
					margin: auto
					width: 46px
					height: 52px
				&.about-block--icon-time:before
					background-position: -224px -1px
				&.about-block--icon-pencil:before
					background-position: -109px -1px
				&.about-block--icon-oil:before
					background-position: -168px -1px
				&.about-block--icon-cost:before
					background-position: -5px -77px
					top: 9px
				&.about-block--icon-baguette:before
					background-position: -67px -79px
					top: 13px

	.about-block--photo
		overflow: hidden
		height: 535px
		padding: 0
		img
			object-fit: cover
			width: 100%
			height: 100%

.advantages
	padding: 80px 36px 90px 74px
	.advantages--row
		margin: 30px 0 90px
		p
			font-size: 14px
			margin: 0
			display: inline-block
			vertical-align: middle
		.advantages--icon
			text-align: center
			img
				max-height: 76px
				display: inline-block
				vertical-align: middle
	.advantages--photo
		img
			width: 100%
			height: auto

.our-masters
	padding-left: 40px
	padding-right: 40px
	.our-masters--column
		text-align: center
		.our-masters--photo
			width: 230px
			height: 230px
			overflow: hidden
			border-radius: 50%
			margin: auto
			margin-bottom: 20px
			img
				object-fit: cover
				width: 100%
				height: 100%
		h5, h6, h4, h3, h2
			font-size: 16px
			margin-bottom: 5px
		p
			font-size: 14px
			margin-top: 5px
			padding: 0 25px

.activity-block
	padding-left: 40px
	padding-right: 40px
	.activity-block--column
		h5, h6, h4
			font-size: 16px
			margin-bottom: 5px
			text-align: left
		p
			font-size: 14px
			margin-top: 10px
		.activity-block--icon
			img
				max-height: 40px

.advantages-work
	padding-left: 40px
	padding-right: 40px
	padding-bottom: 90px
	.advantages-work--column
		text-align: center
		margin-top: 15px
		margin-bottom: 30px
		.advantages-work--icon
			display: inline-block
			width: 150px
			height: 150px
			overflow: hidden
			border-radius: 50%
			margin: auto
			margin-bottom: 15px
			img
				object-fit: cover
				width: 100%
				height: 100%
		p
			font-size: 14px
			font-weight: bold
			color: #000
			a
				color: #000
				border-bottom: 1px solid $colorFont
				transition: $transition
				&:hover,
				&:active
					color: $mainBg
					border-bottom: 1px solid $mainBg
		.active-link-icon a
			color: $mainBg
			border-bottom: 1px solid $mainBg

.order
	padding: 60px 0
	text-align: center
	.btn
		padding: 15px 75px

.seo-block
	padding-left: 30px
	padding-right: 30px
	padding-bottom: 95px
	h3,
	h2,
	h4,
	h5,
	h1,
	h6
		margin-bottom: 13px
	p
		margin-bottom: 25px


/*-----------------------------------*/
/*        Портрет по фото            */
/*-----------------------------------*/
span.rur
	font-family: 'als_rublregular'
.right
	float: right
.icon:before
	content: ''
	background: url(../img/icon-sprite.png) no-repeat
	position: absolute
	top: 0
	left: 0

.services-block
	&:nth-of-type(even)
		.services-block--text
			float: right
	.services-block--text
		padding: 45px
		height: 410px
		overflow: hidden
		.services-block--cat
			color: $mainBg
			font-weight: bold
			margin: 0
		h1,
		h2,
		h3,
		h1>a,
		h2>a,
		h3>a
			font-size: 44px
			color: $colorFont
			margin: 0 0 20px
		h1,
		h2,
		h3
			margin-left: -20px
		h1>a,
		h2>a,
		h3>a
			border-bottom: 1px solid rgba(0,0,0,0.3)
			&:hover,
			&:active,
			&:focus
				border-bottom: none
		.services-block--list
			padding-left: 0
			list-style: none
			li
				position: relative
				margin-bottom: 10px
				padding-left: 30px
				&:before
					width: 21px
					height: 21px
				&.services-block--icon-time:before
					background-position: 0 0
				&.services-block--icon-pencil:before
					background-position: -38px -2px
				&.services-block--icon-oil:before
					background-position: -74px -1px

.services-block--photo
	background-repeat: no-repeat
	background-size: cover
	text-align: center
	position: relative
	height: 410px
	&:before
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background-color: #000
		-webkit-transition: all 0.5s ease
		-moz-transition: all 0.5s ease
		-o-transition: all 0.5s ease
		-ms-transition: all 0.5s ease
		transition: all 0.5s ease
		z-index: 1
		opacity: 0
	&:hover:before
		opacity: 0.7
	&:hover
		.btn
			display: block
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			width: 330px
			height: 60px
			z-index: 1000
			padding: 0
			line-height: 48px
			&:hover,
			&:active,
			&:focus
				color: #fff
				background-color: transparent
				border-color: #fff
	.btn
		display: none

.about-portret
	padding-left: 80px
	padding-right: 80px
	h1,
	h2,
	h3
		margin-bottom: 25px
	.about-portret--column
		text-align: center
		.about-portret--icon
			height: 76px
			margin: auto
		.about-portret--info
			h4,
			h5,
			h6
				margin-top: 15px
				margin-bottom: 0
			p
				font-size: 14px
				margin: 0

.how-work
	text-align: center
	padding-bottom: 118px
	h2
		margin-bottom: 65px


/*-----------------------------------*/
/*    Запись. Портрет по фото        */
/*-----------------------------------*/
.about-block-single-page
	height: 410px
	.about-block--text
		padding: 35px 47px
		min-height: 410px
	.about-block--photo
		height: 410px

.gift
	padding-left: 45px
	padding-right: 45px
	.gift-column
		width: 28.2%
		float: left
		text-align: center
		margin: 20px 40px 45px
		box-shadow: 0 2px 4px 0 rgba(165,165,165,0.7)
		&:first-of-type
			margin-left: 5px
		&:last-of-type
			margin-right: 5px
		.gift-column--photo
			width: 100%
			height: 275px
			overflow: hidden
			img
				width: 100%
				height: 100%
				object-fit: cover
		.gift-column--text
			font-size: 13px
			text-align: left
			padding: 15px 20px 15px
			border: 1px solid $mainBg
			border-top: none
			min-height: 110px
			p
				margin: 0
		&.gift-column-reverse
			.gift-column--text
				border-top: 1px solid $mainBg
				border-bottom: none

.unica-block
	padding: 50px 45px 40px
	.unica-block--icon
		width: 20%
		float: left
		text-align: center
		margin-top: 5px
	.unica-block--info
		width: 80%
		float: left
		padding-left: 22px
		h4,
		h5,
		h6
			font-size: 20px
			margin: 0
		p
			font-size: 14px

.portfolio-block
	padding: 70px 45px
	.owl-carousel-portfolio
		.item
			height: 320px
			img
				width: 100%
				height: 100%
				object-fit: cover
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next
	position: absolute
	top: 0
	bottom: 0
	margin: auto
	background: url(../img/icon-sprite.png) no-repeat
	width: 18px
	height: 32px
	display: block
.owl-carousel .owl-controls .owl-nav .owl-prev
	background-position: -30px -32px
	left: -49px
.owl-carousel .owl-controls .owl-nav .owl-next
	background-position: -1px -32px
	right: -49px

.review
	.review-column
		padding-left: 28px
		padding-right: 28px
	.owl-carousel-review
		box-shadow: 0 0 25px 5px rgba(165,165,165,0.5)
	.item
		overflow: hidden
	.item-photo
		width: 50%
		float: left
		height: 326px
		overflow: hidden
		img
			width: 100%
			height: 100%
			object-fit: cover
	.item-info
		width: 50%
		float: left
		height: 326px
		overflow: hidden
		background-color: $mainBg
		padding: 55px 36px 34px 69px
		color: #fff
		position: relative
		&:before
			content: '“'
			position: absolute
			font-size: 100px
			left: 39px
			top: 58px
		blockquote
			margin: 0
			text-align: left
			font-size: 18px
			line-height: 22px
			margin-bottom: 35px
		cite
			font-size: 18px
			font-weight: bold
			font-style: normal
			display: block
		.date
			display: block
			font-size: 12px

/*-----------------------------------*/
/*        Картины на заказ           */
/*-----------------------------------*/
.services-block--pictures
	.services-block--text,
	.services-block--photo
		height: 400px
	.services-block--text
		h2,
		h1,
		h3,
		h4
			margin-bottom: 30px
			margin-left: 0
			position: relative
			&:before
				content: '«'
				position: absolute
				top: 0
				left: -20px
.about-portret-pictures
	padding: 52px 0
	h1,
	h2,
	h3
		margin-bottom: 30px
	.about-portret--info
		margin-top: 20px



/*-----------------------------------*/
/*             Калькулятор           */
/*-----------------------------------*/
.form-order
	margin-top: 80px
	margin-bottom: 205px
	.form-column
		margin: auto
		display: block
		float: none
	form
		background-color: #fcfcfc
		padding: 39px 50px 0
		box-shadow: 0 0 30px 5px rgba(188,188,188,0.5)
		border-radius: 7px 7px 0 0
		h3
			text-align: center
			margin-top: 0
		label,
		p.text
			display: inline-block
			width: 30%
			vertical-align: middle
			margin-bottom: 20px
			font-size: 18px
		.comment
			vertical-align: top
		input[type="text"],
		input[type="tel"],
		input[type="email"],
		textarea
			width: 69%
			display: inline-block
			vertical-align: middle
			margin-bottom: 26px
			font-size: 18px
			border: 1px solid #eaeaea
			padding: 10px 20px
			outline: none
		textarea
			resize: vertical
		.divider
			margin-bottom: 36px
		ul
			list-style: none
			padding-left: 0
			margin: 0
			width: 69%
			display: inline-block
			vertical-align: bottom
			li
				display: inline-block
				font-size: 18px
				a
					font-size: 18px
					margin: 6px
					padding: 0
					border-bottom: 1px dotted $mainBg
					display: inline-block
					text-align: center
					&.active,
					&.active-qty
						color: #fff
						background-color: $mainBg
						text-decoration: none
						margin: 0
						padding: 6px
		p.text
			margin-bottom: 4px
		span.desc
			font-size: 14px
			display: block
			margin-top: 10px
			margin-left: 31%
		.price-block
			display: inline-block
			width: 69%
			vertical-align: top
			.cost
				display: block
				font-size: 24px
				font-weight: bold
				margin-top: 17px
				.rur
					display: inline
					margin-left: 5px
					font-size: 24px
					font-weight: bold
			.info-text
				width: 100%
				font-style: italic
				font-size: 14px
				margin-bottom: 20px
			.file_upload
				position: relative
				overflow: hidden
				font-size: 18px
				margin-bottom: 5px
			.file_upload > button
				float: left
				padding: 0
				margin-bottom: 20px
				color: $mainBg
				background-color: transparent
				border: none
				border-bottom: 1px dotted $mainBg
				&:hover,
				&:active,
				&:focus
					border-bottom: none
			.file_upload span
				position: static
				margin-top: 0
				font-size: 18px
				display: inline-block
				margin-left: 10px
			.file_upload input[type=file]
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				transform: scale(20)
				letter-spacing: 10em
				-ms-transform: scale(20)
				opacity: 0
				cursor: pointer
		.submit-form
			background-color: $mainBg
			padding: 50px 0 40px
			margin-left: -50px
			margin-right: -50px
			margin-top: 15px
			text-align: center
			border-radius: 0 0 7px 7px
			input
				background-color: transparent
				width: 470px
				letter-spacing: 1.2px
				&:hover,
				&:active,
				&:focus
					background-color: #fff
					color: $mainBg
		.result,
		.qty-list-result
			display: none


/*-----------------------------------*/
/*             Копии картин          */
/*-----------------------------------*/
div.pp_overlay
	width: 100% !important
div.pp_pic_holder
	left: 0 !important
	right: 0
	margin: auto
.copy-pictures
	.about-block
		height: 400px
		.about-block--title
			font-size: 44px
	.about-block--photo
		img
			height: auto
	.price-block
		padding: 60px 0 125px
		h2
			margin-bottom: 10px
		.title
			margin-top: 20px
			margin-bottom: 64px
		.title,
		.tabs__caption
			font-size: 44px
			font-weight: bold
			text-align: center
		.tabs__caption
			padding-left: 0
			list-style: none
			margin: 0
			overflow: hidden
			span
				display: inline-block
				vertical-align: baseline
				color: $mainBg
				border-bottom: 3px dotted $mainBg
				padding: 17px 5px
				cursor: pointer
				&.active
					color: #fff
					background-color: $mainBg
					border-bottom: 3px solid $mainBg

		.tabs__content
			display: none
			&.active
				display: block
			img
				width: 100%
				box-shadow: 0 2px 5px 0 rgba(82,82,82,0.7)
			figcaption
				margin-top: 30px
				font-size: 20px
				text-align: center
			h3
				font-weight: bold
				font-size: 20px
				text-align: left
				margin-bottom: 10px
			p
				margin-top: 0
				font-size: 20px
				line-height: 1.200em
			.price-block--list
				list-style: none
				margin-top: 30px
				padding-left: 0
				li
					display: inline-block
					vertical-align: top
					width: 25%
					text-align: left
					padding-top: 60px
					position: relative
					color: $mainBg
					font-weight: bold
					&:before
						display: block
						left: 16px
						width: 44px
						height: 52px
					&.price-block--icon-time:before
						background-position: -122px -67px
					&.price-block--icon-cost:before
						background-position: -180px -75px
						top: 7px
			.btn
				padding: 7px 36px
				border-radius: 3px

	.activity-block
		padding: 46px 0
		.activity-block--column
			.activity-block--icon
				img
					max-height: 67px
			&:nth-of-type(3)
				img
					margin-top: 10px
				p
					padding-left: 10px
			&:nth-of-type(4)
				img
					margin-top: 8px

	.portfolio-pictures
		padding: 60px 125px 120px
		position: relative
		.portfolio-pictures-img
			width: 33.3%
			float: left
			padding: 0 5px
			margin-top: 10px
			height: 310px
			overflow: hidden
			img
				width: 100%
				height: 100%
				object-fit: cover
				box-shadow: 0 2px 5px 0 rgba(82,82,82,0.7)
		.btn
			border: 4px solid $mainBg
			font-size: 20px
			font-weight: bold
			color: $mainBg
			text-align: center
			padding: 15px 97px
			cursor: pointer
			position: absolute
			width: 475px
			height: 60px
			left: 0
			right: 0
			bottom: 0
			margin: auto
			display: block
			&:hover
				background: $mainBg
				color: #fff

	.title-block
		margin-top: 50px
		h2
			text-align: center
	.copy-block-adv
		background: #2a2f40 url(../img/bg_copy.jpg) 0 0 no-repeat
		background-size: cover
		overflow: hidden
		padding-top: 68px
		padding-bottom: 102px

	.form-order
		margin-top: 128px
		margin-bottom: 77px
		form
			padding: 39px 90px 0
			p
				margin: 0
			.submit-form
				margin-left: -90px
				margin-right: -90px
				margin-top: 25px
				padding: 40px 0 48px
			label,
			p.text
				width: 33%
				margin-bottom: 0
				margin-top: 20px
			input[type="text"],
			input[type="tel"],
			input[type="email"],
			textarea
				width: 66%
				margin-bottom: 0
				margin-top: 26px
			.decs
				font-style: italic
				font-size: 14px
				display: inline-block
				margin-left: 34%
				margin-bottom: 5px
				margin-top: 26px
			.file_upload
				position: relative
				overflow: hidden
				font-size: 18px
				margin-bottom: 15px
				margin-left: 34%
			.file_upload > button
				float: left
				padding: 0
				margin-bottom: 20px
				color: $mainBg
				background-color: transparent
				border: none
				border-bottom: 1px dotted $mainBg
				&:hover,
				&:active,
				&:focus
					border-bottom: none
			.file_upload span
				position: static
				margin-top: 0
				font-size: 18px
				display: inline-block
				margin-left: 10px
			.file_upload input[type=file]
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				transform: scale(20)
				letter-spacing: 10em
				-ms-transform: scale(20)
				opacity: 0
				cursor: pointer
			span.wpcf7-not-valid-tip
				margin-left: 33%






